/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 210%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
.selected {
	background-color: #00cccc !important;
}
.book-list {
	list-style-type: none;
}
.book-list li {
    position: relative;
    font-family: verdana;
    color: black;
    left: 0;
    background-color: #ff8000;
    margin: 3px;
    padding: 3px;
    height: 20px;
    border-radius: 4px;
    width: 400px;
}
nav a {
  padding: 5px;
  font-family: tahoma;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  background-color: #808080;
}
nav a:visited, a:link {
  color: yellow;
}
nav a:hover {
  color: blue;
}
nav a.router-link-active {
  color: green;
  background-color: #99ff99;
}
